In [ ]:
{
 "cells": [
  {
   "cell_type": "code",
   "execution_count": 18,
   "metadata": {},
   "outputs": [],
   "source": [
    "import time\n",
    "import yfinance\n",
    "from pandas import *"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 19,
   "metadata": {},
   "outputs": [],
   "source": [
    "stock = yfinance.Ticker(\"SPY\")\n"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 21,
   "metadata": {},
   "outputs": [],
   "source": [
    "data = stock.history(period='max').reset_index()\n",
    "first_price = data.iloc[1,4] \n",
    "# The first day of stock is at Row 1, 5th Column\n",
    "data[\"Normalized\"] = data[\"Close\"].apply(lambda x: (x*1.0)/first_price)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 22,
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "<class 'pandas.core.frame.DataFrame'>\n",
      "RangeIndex: 7112 entries, 0 to 7111\n",
      "Data columns (total 9 columns):\n",
      "Date            7112 non-null datetime64[ns]\n",
      "Open            7112 non-null float64\n",
      "High            7112 non-null float64\n",
      "Low             7112 non-null float64\n",
      "Close           7112 non-null float64\n",
      "Volume          7112 non-null int64\n",
      "Dividends       7112 non-null float64\n",
      "Stock Splits    7112 non-null int64\n",
      "Normalized      7112 non-null float64\n",
      "dtypes: datetime64[ns](1), float64(6), int64(2)\n",
      "memory usage: 500.2 KB\n"
     ]
    }
   ],
   "source": [
    "data.info()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 23,
   "metadata": {},
   "outputs": [],
   "source": [
    "del data['Normalized']"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 32,
   "metadata": {},
   "outputs": [],
   "source": [
    "data2=data[:7094]"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 33,
   "metadata": {},
   "outputs": [],
   "source": [
    "data2.to_csv('Newdata', index = False)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 34,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>Date</th>\n",
       "      <th>Open</th>\n",
       "      <th>High</th>\n",
       "      <th>Low</th>\n",
       "      <th>Close</th>\n",
       "      <th>Volume</th>\n",
       "      <th>Dividends</th>\n",
       "      <th>Stock Splits</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <td>0</td>\n",
       "      <td>1993-01-29</td>\n",
       "      <td>25.902594</td>\n",
       "      <td>25.902594</td>\n",
       "      <td>25.773725</td>\n",
       "      <td>25.884184</td>\n",
       "      <td>1003200</td>\n",
       "      <td>0.000</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <td>1</td>\n",
       "      <td>1993-02-01</td>\n",
       "      <td>25.902589</td>\n",
       "      <td>26.068277</td>\n",
       "      <td>25.902589</td>\n",
       "      <td>26.068277</td>\n",
       "      <td>480500</td>\n",
       "      <td>0.000</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <td>2</td>\n",
       "      <td>1993-02-02</td>\n",
       "      <td>26.049860</td>\n",
       "      <td>26.141909</td>\n",
       "      <td>25.994630</td>\n",
       "      <td>26.123499</td>\n",
       "      <td>201300</td>\n",
       "      <td>0.000</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <td>3</td>\n",
       "      <td>1993-02-03</td>\n",
       "      <td>26.160321</td>\n",
       "      <td>26.418058</td>\n",
       "      <td>26.141912</td>\n",
       "      <td>26.399649</td>\n",
       "      <td>529400</td>\n",
       "      <td>0.000</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <td>4</td>\n",
       "      <td>1993-02-04</td>\n",
       "      <td>26.491701</td>\n",
       "      <td>26.565340</td>\n",
       "      <td>26.197144</td>\n",
       "      <td>26.510111</td>\n",
       "      <td>531500</td>\n",
       "      <td>0.000</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <td>7084</td>\n",
       "      <td>2021-03-18</td>\n",
       "      <td>393.192202</td>\n",
       "      <td>395.424880</td>\n",
       "      <td>389.474368</td>\n",
       "      <td>390.201996</td>\n",
       "      <td>115112500</td>\n",
       "      <td>0.000</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <td>7085</td>\n",
       "      <td>2021-03-19</td>\n",
       "      <td>389.880005</td>\n",
       "      <td>391.570007</td>\n",
       "      <td>387.149994</td>\n",
       "      <td>389.480011</td>\n",
       "      <td>112777800</td>\n",
       "      <td>1.278</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <td>7086</td>\n",
       "      <td>2021-03-22</td>\n",
       "      <td>390.029999</td>\n",
       "      <td>394.070007</td>\n",
       "      <td>389.970001</td>\n",
       "      <td>392.589996</td>\n",
       "      <td>73778600</td>\n",
       "      <td>0.000</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <td>7087</td>\n",
       "      <td>2021-03-23</td>\n",
       "      <td>391.910004</td>\n",
       "      <td>393.459991</td>\n",
       "      <td>388.660004</td>\n",
       "      <td>389.500000</td>\n",
       "      <td>90686600</td>\n",
       "      <td>0.000</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <td>7088</td>\n",
       "      <td>2021-03-24</td>\n",
       "      <td>391.000000</td>\n",
       "      <td>392.750000</td>\n",
       "      <td>387.470001</td>\n",
       "      <td>387.519989</td>\n",
       "      <td>97588600</td>\n",
       "      <td>0.000</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>7089 rows Ã— 8 columns</p>\n",
       "</div>"
      ],
      "text/plain": [
       "           Date        Open        High         Low       Close     Volume  \\\n",
       "0    1993-01-29   25.902594   25.902594   25.773725   25.884184    1003200   \n",
       "1    1993-02-01   25.902589   26.068277   25.902589   26.068277     480500   \n",
       "2    1993-02-02   26.049860   26.141909   25.994630   26.123499     201300   \n",
       "3    1993-02-03   26.160321   26.418058   26.141912   26.399649     529400   \n",
       "4    1993-02-04   26.491701   26.565340   26.197144   26.510111     531500   \n",
       "...         ...         ...         ...         ...         ...        ...   \n",
       "7084 2021-03-18  393.192202  395.424880  389.474368  390.201996  115112500   \n",
       "7085 2021-03-19  389.880005  391.570007  387.149994  389.480011  112777800   \n",
       "7086 2021-03-22  390.029999  394.070007  389.970001  392.589996   73778600   \n",
       "7087 2021-03-23  391.910004  393.459991  388.660004  389.500000   90686600   \n",
       "7088 2021-03-24  391.000000  392.750000  387.470001  387.519989   97588600   \n",
       "\n",
       "      Dividends  Stock Splits  \n",
       "0         0.000             0  \n",
       "1         0.000             0  \n",
       "2         0.000             0  \n",
       "3         0.000             0  \n",
       "4         0.000             0  \n",
       "...         ...           ...  \n",
       "7084      0.000             0  \n",
       "7085      1.278             0  \n",
       "7086      0.000             0  \n",
       "7087      0.000             0  \n",
       "7088      0.000             0  \n",
       "\n",
       "[7089 rows x 8 columns]"
      ]
     },
     "execution_count": 34,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "data2.head(-5)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 41,
   "metadata": {},
   "outputs": [],
   "source": [
    "df=pd.read_csv(\"Newdata\")"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "metadata": {},
   "outputs": [],
   "source": []
  }
 ],
 "metadata": {
  "kernelspec": {
   "display_name": "Python 3",
   "language": "python",
   "name": "python3"
  },
  "language_info": {
   "codemirror_mode": {
    "name": "ipython",
    "version": 3
   },
   "file_extension": ".py",
   "mimetype": "text/x-python",
   "name": "python",
   "nbconvert_exporter": "python",
   "pygments_lexer": "ipython3",
   "version": "3.7.4"
  }
 },
 "nbformat": 4,
 "nbformat_minor": 2
}